<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href='/static/css/css.css' rel="stylesheet">
    <link href="/static/css/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
    <v-app id="inspire">
        <v-navigation-drawer
                fixed
                v-model="drawer"
                app
        >
            <v-list dense>
                <v-list-tile @click="redirect('home')">
                    <v-list-tile-action>
                        <v-icon>home</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Home</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile @click="redirect('graph')">
                    <v-list-tile-action>
                        <v-icon>show_chart</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Graph</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar color="indigo" dark fixed app>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>BES1</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn flat @click="logout">
                <v-icon left>exit_to_app</v-icon>
                Logout
            </v-btn>
        </v-toolbar>
        <v-content>
            <v-container fluid fill-height>
                <v-layout
                        justify-center
                >
                    <v-flex text-xs-center>
                        <v-data-table
                                :headers="headers"
                                :items="siswa"
                                class="elevation-1"
                                :loading="loadingData"
                                :rows-per-page-items="rowPerPage"
                        >
                            <template slot="items" slot-scope="props">
                                <td>{{ props.item.nisn }}</td>
                                <td class="text-xs-left">{{ props.item.nama }}</td>
                                <td>{{ props.item.rapot }}</td>
                                <td>{{ props.item.nem }}</td>
                                <td>{{ props.item.kehadiran }}</td>
                                <td>{{ props.item.akreditasi }}</td>
                                <td>{{ props.item.ntl }}</td>
                                <td>{{ props.item.skor }}</td>
                            </template>
                        </v-data-table>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</div>

<script src="/static/js/vue.js"></script>
<script src="/static/js/vuetify.js"></script>
<script src="/static/js/axios.min.js"></script>
<script>
    isLogin = JSON.parse(localStorage.getItem('loginStatus'));
    if (isLogin === false || isLogin === null){
        window.location.href = '/';
    }

    new Vue({
        el: '#app',
        data: () => ({
            drawer: false,
            headers: [
                { text: 'NISN', value: 'nisn' },
                { text: 'Nama', value: 'nama' },
                { text: 'Nilai Rapot', value: 'rapot' },
                { text: 'NEM', value: 'nem' },
                { text: 'Kehadiran', value: 'kehadiran' },
                { text: 'Akreditasi', value: 'akreditasi' },
                { text: 'Nilai Tingkah Laku', value: 'ntl' },
                { text: 'Skor', value: 'skor' }
            ],
            siswa: [],
            loadingData: true,
            rowPerPage: [10, 25, 50, { "text": "$vuetify.dataIterator.rowsPerPageAll", "value": -1 }]
        }),
        methods: {
            redirect(loc){
                window.location.href = '/'+loc;
            },
            logout(){
                localStorage.setItem('loginStatus', false);
                this.redirect('');
            },
            loadData(){
                vm = this;
                axios.get('/api/data/all')
                .then(function (response) {
                    // handle success
                    vm.siswa = response.data;
                    vm.loadingData = false;
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
                .then(function () {
                    // always executed
                });
            }
        },
        mounted(){
            this.loadData();
        }
    });
</script>
</body>
</html>